@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap");

body,
html {
  height: 100%;
}

body {
  background-color: hsl(257, 40%, 49%);
  font-family: "Open Sans", sans-serif;
  color: azure;
}

.bg {
  background-image: url("./images/bg-desktop.svg");
  height: 100%;
}

h1 {
  font-family: "Poppins", sans-serif;
  color: azure;
}

.logo {
  width: 120px;
}

button {
  color: hsl(257, 40%, 49%);
  background-color: azure;
  font-family: "Open Sans", sans-serif;
  border-radius: 25px;
  padding: 5px 35px 5px 35px;
  font-size: 12px;
  box-shadow: 3px 3px 3px rgb(68, 66, 66);
}

button:hover {
  background-color: hsl(300, 69%, 71%);
  color: azure;
  font-family: "Open Sans", sans-serif;
  border-radius: 25px;
  padding: 5px 35px 5px 35px;
  font-size: 12px;
}

.fa-facebook-f:hover,
.fa-twitter:hover,
.fa-instagram:hover {
  border-radius: 25px;
  border: 2px solid hsl(300, 69%, 71%);
  color: hsl(300, 69%, 71%);
}

.fa-facebook-f,
.fa-twitter,
.fa-instagram {
  border-radius: 15px;
  border: 1.5px solid whitesmoke;
  padding: 5px;
  color: whitesmoke;
  margin-right: 10px;
  margin-left: 10px;
}

ul {
  list-style: none;
  display: flex;
}

div.social {
  display: flex;
  justify-content: flex-end;
  margin-right: 125px;
  margin-top: 40px;
}

.img-mockup {
  width: 400px;
  margin-left: 50px;
}

.img-logo {
  width: 150px;
  margin-bottom: 30px;
  margin-top: 15px;
  margin-left: 50px;
}

.mockup {
  display: flex;
}

h1 {
  font-weight: 600;
  font-size: 30px;
}

p {
  font-weight: 400;
  font-size: 10px;
}

.info {
  margin-left: 10px;
}

div.info {
  height: 200px;
  width: 400px;
  padding-left: 40px;
}
